.rd-navbar {
	position: relative;
	z-index: 14;
	color: #171724;
}

.rd-navbar li {
	list-style: none;
}

.navbar-button {
	position: relative;
	display: block;
	border: none;
	font-size: 18px;
	width: 18px;
	height: 18px;
	line-height: 1;
	opacity: 1;
	visibility: visible;
	background: none;
	color: inherit;
	transition: .25s ease-in-out;
}

.navbar-button::before, .navbar-button::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .25s, color 0s;
}

.navbar-button::before {
	transform: translate(-50%, -50%) rotate(0) scale(1);
	opacity: 1;
}

.navbar-button::after {
	content: '\e918';
	transform: translate(-50%, -50%) rotate(90deg) scale(0);
	font-family: 'custom-font';
	opacity: 0;
}

.navbar-button:hover {
	color: #eac52e;
}

.navbar-button.navbar-info-active::before, .navbar-button.navbar-search-active::before, .navbar-button.navbar-cart-active::before, .navbar-button.active::before {
	transform: translate(-50%, -50%) rotate(-90deg) scale(0);
	opacity: 0;
}

.navbar-button.navbar-info-active::after, .navbar-button.navbar-search-active::after, .navbar-button.navbar-cart-active::after, .navbar-button.active::after {
	transform: translate(-50%, -50%) rotate(0deg) scale(1);
	opacity: 1;
}

.navbar-logo-link {
	display: block;
}

.navbar-logo-default,
.navbar-logo-inverse {
	margin: 0;
}

.navbar-logo-default {
	display: none;
}

.navbar-logo-inverse {
	display: inline-block;
}

.rd-navbar-fixed {
	height: 60px;
}

.rd-navbar-fixed .navbar-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 60px;
	box-shadow: 0 0 28px rgba(89, 89, 89, 0.1);
	background: #eac52e;
}

.rd-navbar-fixed .navbar-subpanel {
	position: fixed;
	top: 0;
	right: 5%;
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0 -10px;
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-subpanel-item {
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-logo {
	position: fixed;
	top: 11px;
	left: 50%;
	transform: translateX(-50%);
}

.rd-navbar-fixed .navbar-logo .navbar-logo-default,
.rd-navbar-fixed .navbar-logo .navbar-logo-inverse {
	width: auto;
	height: auto;
	max-height: 40px;
}

.rd-navbar-fixed .navbar-navigation-banner {
	padding: 14px 0;
}

.rd-navbar-fixed .navbar-switch {
	position: fixed;
	top: 0;
	left: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	font-size: 2.1875rem;
	line-height: 1;
	border: none;
	background: none;
	color: #fff;
	transition: .2s ease-in-out;
}

.rd-navbar-fixed .navbar-switch:hover, .rd-navbar-fixed .navbar-switch.active {
	color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-fixed .navbar-action-button {
	margin: 0;
}

.rd-navbar-fixed .navbar-button {
	color: #fff;
}

.rd-navbar-fixed .navbar-button::before {
	pointer-events: none;
}

.rd-navbar-fixed .navbar-button:hover, .rd-navbar-fixed .navbar-button.active {
	color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-fixed .navbar-search {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transform: scaleX(0.8);
	z-index: 2;
	display: flex;
	align-items: center;
	height: 60px;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .25s;
}

.rd-navbar-fixed .navbar-search-container {
	flex: 1 1 870px;
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}

.rd-navbar-fixed .navbar-search-form {
	display: flex;
	align-items: center;
	margin: 0 -10px;
}

.rd-navbar-fixed .navbar-search-input {
	flex-grow: 1;
	font-size: 1rem;
	color: #171724;
	margin: 0;
	padding: 0 10px;
	border: none;
	background: none;
}

.rd-navbar-fixed .navbar-search-input::placeholder {
	color: #171724;
}

.rd-navbar-fixed .navbar-search-close,
.rd-navbar-fixed .navbar-search-btn {
	color: inherit;
	padding: 0 10px;
}

.rd-navbar-fixed .navbar-search-close:hover,
.rd-navbar-fixed .navbar-search-btn:hover {
	color: #eac52e;
}

.rd-navbar-fixed .navbar-search-results {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: center top;
	display: flex;
	justify-content: center;
	padding: 25px 0;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .15s;
}

.rd-navbar-fixed .navbar-search-results.rd-search-show {
	transform: scaleY(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-search-results.rd-search-loading .search-results {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fixed .navbar-search-results .search-results {
	flex: 1 1 870px;
	max-width: 870px;
	padding: 0 15px;
}

.rd-navbar-fixed .navbar-search-results .search-list {
	list-style-type: none;
}

.rd-navbar-fixed .navbar-search-results .search-list-item {
	padding: 25px 0;
	margin: 0;
	border-bottom: 1px solid #e9eff4;
}

.rd-navbar-fixed .navbar-search-results .search-list-item:first-child {
	border-top: 1px solid #e9eff4;
}

.rd-navbar-fixed .navbar-search-results * + p {
	margin-top: 2px;
}

.rd-navbar-fixed .navbar-search-results * + .search-list,
.rd-navbar-fixed .navbar-search-results * + .search-list-item-all {
	margin-top: 25px;
}

.rd-navbar-fixed.navbar-search-active .navbar-search {
	transform: scaleX(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fixed .navbar-navigation {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: -310px;
	width: 300px;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.2;
	transition: .4s;
	background: #fff;
	box-shadow: 0 0 28px rgba(89, 89, 89, 0.1);
}

.rd-navbar-fixed .navbar-navigation-root-item,
.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	transition: .4s;
}

.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: -310px;
	width: 300px;
	z-index: 2;
	pointer-events: none;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
}

.rd-navbar-fixed .navbar-navigation,
.rd-navbar-fixed .navbar-navigation-megamenu,
.rd-navbar-fixed .navbar-navigation-dropdown {
	padding: 16px 0 30px;
	background: #f7f7f7;
}

.rd-navbar-fixed .navbar-navigation.overlaid,
.rd-navbar-fixed .navbar-navigation-megamenu.overlaid,
.rd-navbar-fixed .navbar-navigation-dropdown.overlaid {
	background: #555555;
}

.rd-navbar-fixed .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-dropdown-link {
	position: relative;
	transform: translateZ(0);
	display: block;
	padding: 14px 30px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fixed .navbar-navigation-root-link + .rd-navbar-submenu-toggle,
.rd-navbar-fixed .navbar-navigation-megamenu-link + .rd-navbar-submenu-toggle,
.rd-navbar-fixed .navbar-navigation-dropdown-link + .rd-navbar-submenu-toggle {
	display: flex;
}

.rd-navbar-fixed .navbar-navigation-root-link:hover,
.rd-navbar-fixed .navbar-navigation-megamenu-link:hover,
.rd-navbar-fixed .navbar-navigation-dropdown-link:hover {
	color: #eac52e;
}

.rd-navbar-fixed .navbar-navigation-root-item.focus > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-root-item.focus > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-root-item.focus > .navbar-navigation-dropdown-link, .rd-navbar-fixed .navbar-navigation-root-item.active > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-root-item.active > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-root-item.active > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.focus > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.focus > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.active > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.active > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-megamenu-item.active > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.focus > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.focus > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.active > .navbar-navigation-root-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.active > .navbar-navigation-megamenu-link,
.rd-navbar-fixed .navbar-navigation-dropdown-item.active > .navbar-navigation-dropdown-link {
	color: #eac52e;
}

.rd-navbar-fixed .navbar-navigation-back-btn {
	display: block;
	padding: 14px 30px;
	font-size: 1.3077rem;
	font-weight: 500;
	color: #eac52e;
}

.rd-navbar-fixed .navbar-navigation-back-btn::before {
	content: '\f104';
	font-family: 'FontAwesome';
	margin-right: 10px;
	vertical-align: bottom;
}

.rd-navbar-fixed .navbar-navigation-back-btn:hover {
	cursor: pointer;
}

.rd-navbar-fixed .navbar-navigation-megamenu-heading {
	padding: 14px 30px;
	margin: 0;
	font-size: 1.1538rem;
	font-weight: 300;
	color: #171724;
}

.rd-navbar-fixed .navbar-navigation-item-disabled {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
	position: absolute;
	top: 0;
	right: 9px;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	display: none;
	font-size: 1em;
	color: inherit;
	transition: .2s;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::before {
	content: '\f105';
	font-family: 'FontAwesome';
}

.rd-navbar-fixed .rd-navbar-submenu-toggle:hover::before {
	color: #eac52e;
}

.rd-navbar-fixed .rd-navbar-submenu {
	position: relative;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown {
	left: 0;
	pointer-events: auto;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-root-link,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-root-link,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link {
	color: #fff;
}

.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-root-link::before,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link::before,
.rd-navbar-fixed .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link::before, .rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-root-link::before,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link::before,
.rd-navbar-fixed .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link::before {
	padding: 100%;
	transition: padding .25s ease-in;
}

.rd-navbar-fixed.active .navbar-navigation {
	left: 0;
}

.rd-navbar-fullwidth {
	height: 80px;
	font-weight: 700;
	font-size: 0.875rem;
	background-color: #eac52e;
	transition: height .2s, box-shadow .2s;
}

.rd-navbar-fullwidth .navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 15px;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.rd-navbar-fullwidth .navbar-cell {
	display: flex;
	align-items: stretch;
	padding: 0 15px;
}

.rd-navbar-fullwidth .navbar-cell:first-child {
	padding-left: 0;
}

.rd-navbar-fullwidth .navbar-cell:last-child {
	padding-right: 0;
}

.rd-navbar-fullwidth .navbar-spacer {
	display: block;
	flex-grow: 1;
}

.rd-navbar-fullwidth .navbar-switch {
	display: none;
}

.rd-navbar-fullwidth .navbar-panel {
	align-self: center;
}

.rd-navbar-fullwidth .navbar-subpanel {
	display: flex;
	align-self: center;
	margin: 0 -10px;
}

.rd-navbar-fullwidth .navbar-subpanel-item {
	padding: 0 10px;
}

.rd-navbar-fullwidth .navbar-button {
	display: block;
	font-size: 18px;
	color: #fff;
}

.rd-navbar-fullwidth .navbar-button:hover {
	color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-fullwidth .navbar-action-button {
	margin: 0;
}

.rd-navbar-fullwidth .navbar-logo {
	margin-top: -15px;
}

.rd-navbar-fullwidth .navbar-logo-inverse {
	display: inline-block;
}

.rd-navbar-fullwidth .navbar-logo-default {
	display: none;
}

.rd-navbar-fullwidth .navbar-search {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scaleX(0.8);
	z-index: 1;
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	transition: .25s;
}

.rd-navbar-fullwidth .navbar-search-container {
	flex: 1 1 870px;
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}

.rd-navbar-fullwidth .navbar-search-close {
	position: absolute;
	top: 50%;
	right: 38px;
	font-size: 1.25rem;
	transform: translateY(-50%);
}

.rd-navbar-fullwidth .navbar-search-form {
	display: flex;
	align-items: center;
}

.rd-navbar-fullwidth .navbar-search-input {
	flex-grow: 1;
	font-size: 1.875rem;
	color: #171724;
	margin: 0;
	border: none;
	background: none;
}

.rd-navbar-fullwidth .navbar-search-input::placeholder {
	color: #171724;
}

.rd-navbar-fullwidth .navbar-search-close,
.rd-navbar-fullwidth .navbar-search-btn {
	color: inherit;
}

.rd-navbar-fullwidth .navbar-search-close:hover,
.rd-navbar-fullwidth .navbar-search-btn:hover {
	color: #eac52e;
}

.rd-navbar-fullwidth .navbar-search-btn {
	margin-left: 1.25rem;
	font-size: 1.75rem;
}

.rd-navbar-fullwidth .navbar-search-results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: center top;
	display: flex;
	justify-content: center;
	padding: 60px 0 70px;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0 0 28px rgba(89, 89, 89, 0.1);
	background: #fff;
	transition: .15s;
}

.rd-navbar-fullwidth .navbar-search-results.rd-search-show {
	transform: scaleY(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fullwidth .navbar-search-results.rd-search-loading .search-results {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fullwidth .navbar-search-results .search-results {
	flex: 1 1 870px;
	max-width: 870px;
	padding: 0 15px;
}

.rd-navbar-fullwidth .navbar-search-results .search-list {
	list-style-type: none;
}

.rd-navbar-fullwidth .navbar-search-results .search-list-item {
	padding: 25px 0;
	margin: 0;
	border-bottom: 1px solid #e9eff4;
}

.rd-navbar-fullwidth .navbar-search-results .search-list-item:first-child {
	border-top: 1px solid #e9eff4;
}

.rd-navbar-fullwidth .navbar-search-results * + p {
	margin-top: 2px;
}

.rd-navbar-fullwidth .navbar-search-results * + .search-list,
.rd-navbar-fullwidth .navbar-search-results * + .search-list-item-all {
	margin-top: 25px;
}

.rd-navbar-fullwidth.navbar-search-active .navbar-search {
	transform: scaleX(1);
	opacity: 1;
	pointer-events: auto;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	box-shadow: 0 0 28px rgba(89, 89, 89, 0.1);
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .navbar-logo {
	margin-top: 0;
}

.rd-navbar-fullwidth .navbar-navigation-back {
	display: none;
}

.rd-navbar-fullwidth .navbar-navigation {
	display: flex;
	padding: 0;
	margin: 0 -30px;
}

.rd-navbar-fullwidth .navbar-navigation-root-item {
	display: flex;
	align-items: center;
	padding: 0 30px;
}

.rd-navbar-fullwidth .navbar-navigation-root-link {
	position: relative;
	display: block;
	line-height: 1;
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-root-link-smb {
	position: relative;
	display: block;
	line-height: 1;
	color: #fe2;
}

.rd-navbar-fullwidth .navbar-navigation-root-link:hover {
	color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-fullwidth .navbar-navigation-root-item.active > .navbar-navigation-root-link,
.rd-navbar-fullwidth .navbar-navigation-root-item.focus > .navbar-navigation-root-link {
	color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-fullwidth .navbar-navigation-dropdown {
	position: absolute;
	left: -20px;
	top: 100%;
	transform: translate(0, 10%) scale(0.8);
	z-index: 1;
	padding: 24px 20px;
	min-width: 220px;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 5px 8px 28px rgba(89, 89, 89, 0.1);
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link {
	position: relative;
	display: block;
	padding: 4px 10px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link + .rd-navbar-submenu-toggle {
	display: block;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link:hover {
	color: #eac52e;
}

.rd-navbar-fullwidth .navbar-navigation-dropdown-link:hover + .rd-navbar-submenu-toggle {
	transition: .2s .1s;
	color: #eac52e;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transform: translateY(-10%) scale(0.8);
	display: flex;
	justify-content: center;
	padding: 57px 40px 100px;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 5px 6px 18px rgba(23, 23, 36, 0.12);
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-container {
	max-width: 1320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-row {
	display: flex;
	margin: 0 -20px;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-column {
	flex: 1 0 25%;
	padding: 0 20px;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-heading {
	padding: 0 10px;
	font-size: 1.5rem;
	line-height: 1.2;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link {
	position: relative;
	display: block;
	padding: 4px 10px;
	border-radius: 4px;
	overflow: hidden;
	color: #171724;
	transition: .2s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%, -50%);
	padding: 0;
	border-radius: 50%;
	z-index: -1;
	background: #42495b;
	transition: padding .05s;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link + .rd-navbar-submenu-toggle {
	display: block;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover {
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover::before {
	padding: 110%;
	transition: padding .25s ease-in;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-link:hover + .rd-navbar-submenu-toggle {
	transition: .2s .1s;
	color: #fff;
}

.rd-navbar-fullwidth .navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-row,
.rd-navbar-fullwidth .navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-item {
	margin-top: 19px;
}

.rd-navbar-fullwidth .navbar-navigation-item-disabled {
	opacity: .5;
	pointer-events: none;
}

.rd-navbar-fullwidth .rd-navbar--has-dropdown {
	position: relative;
}

.rd-navbar-fullwidth .rd-navbar-submenu-toggle {
	position: absolute;
	top: 7px;
	right: 6px;
	display: none;
	font-size: .8em;
	color: inherit;
	transition: .2s;
}

.rd-navbar-fullwidth .rd-navbar-submenu-toggle::before {
	content: '\f105';
	font-family: 'FontAwesome';
}

.rd-navbar-fullwidth .rd-navbar-megamenu .rd-navbar-dropdown {
	transform: translate(10%, 0) scale(0.8);
	left: 100%;
	top: -24px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown {
	transform: translate(10%, 0) scale(0.8);
	left: calc( 100% + 10px);
	top: -24px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-open-left {
	transform: translate(-10%, 0) scale(0.8);
	left: auto;
	right: calc( 100% + 10px);
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-dropdown, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-dropdown {
	transform: translate(0, 0) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-megamenu, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-megamenu {
	transform: translateY(0) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .rd-navbar-submenu.focus > .navbar-navigation-megamenu-link, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-dropdown-link,
.rd-navbar-fullwidth .rd-navbar-submenu.opened > .navbar-navigation-megamenu-link {
	color: #eac52e;
}

.rd-navbar-fullwidth .rd-navbar-submenu.focus > .rd-navbar-submenu-toggle, .rd-navbar-fullwidth .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle {
	color: #eac52e;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle {
	position: static;
	display: block;
	margin-left: 6px;
	line-height: 1;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle::before {
	content: '\e924';
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item > .rd-navbar-submenu-toggle:hover {
	cursor: pointer;
}

[data-x-mode='true'] .rd-navbar-fullwidth .navbar-navigation-root-item.opened > .rd-navbar-submenu-toggle {
	color: #eac52e;
}

@media (min-width: 1600px) {
	.rd-navbar-fullwidth {
		height: 170px;
	}
	.rd-navbar-fullwidth .navbar-navigation {
		margin: 0 -35px;
	}
	.rd-navbar-fullwidth .navbar-navigation-root-item {
		padding: 0 35px;
	}
	.rd-navbar-fullwidth .navbar-navigation-dropdown {
		top: 70%;
	}
	.rd-navbar-fullwidth.rd-navbar--is-stuck {
		height: 60px;
	}
	.rd-navbar-fullwidth.rd-navbar--is-stuck .navbar-navigation-dropdown {
		top: 100%;
	}
}

.rd-navbar-fullwidth-linked .rd-navbar-absolute-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.rd-navbar-fullwidth-linked .rd-navbar-absolute-wrap .rd-navbar-fullwidth {
	background-color: transparent;
}

.rd-navbar-fullwidth-linked .rd-navbar-absolute-wrap .rd-navbar-fullwidth.rd-navbar--is-stuck {
	background-color: #eac52e;
}
