.price-box {
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.625rem;
	overflow: hidden;
	font-weight: 600;
	color: #fff;
	background-color: #eac52e;
}

.price-box-media {
	position: relative;
}

.price-box-img {
	width: 100%;
}

.price-box-tag {
	padding: 0rem 0.4375rem;
	position: absolute;
	left: 0.625rem;
	top: 0.625rem;
	line-height: 1.45;
	color: #fff;
	background-color: #ff9900;
	border-radius: 0.3125rem;
}

.price-box-body {
	padding: 1.5625rem 0.9375rem;
}

.price-box-title {
	color: inherit;
}

.price-box-title a:hover {
	color: #42495b;
}

* + .price-box-title {
	margin-top: 0.55rem;
}

* + .price-box-text {
	margin-top: 0.34375rem;
}

@media (min-width: 992px) {
	.price-box-body {
		padding: 1.3125rem 0.65625rem 1.225rem;
	}
	* + .price-box-title {
		margin-top: 0.7rem;
	}
	* + .price-box-text {
		margin-top: 0.4375rem;
	}
}

@media (min-width: 1600px) {
	.price-box-body {
		padding: 1.875rem 0.9375rem 1.75rem;
	}
	* + .price-box-title {
		margin-top: 1rem;
	}
	* + .price-box-text {
		margin-top: 0.625rem;
	}
}
