.blurb-icon {
	font-size: 4.375rem;
	color: #42495b;
}

.blurb-icon-primary {
	color: #eac52e;
}

* + .blurb-title {
	margin-top: 1.03125rem;
}

* + .blurb-text {
	margin-top: 0.51563rem;
}

@media (min-width: 992px) {
	.blurb-icon {
		font-size: 4.375rem;
	}
	* + .blurb-title {
		margin-top: 1.3125rem;
	}
	* + .blurb-text {
		margin-top: 0.65625rem;
	}
}

@media (min-width: 1600px) {
	.blurb-icon {
		font-size: 6.25rem;
	}
	* + .blurb-title {
		margin-top: 1.875rem;
	}
	* + .blurb-text {
		margin-top: 0.9375rem;
	}
}

.blurb-2 {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.blurb-side {
	margin-bottom: -0.4375rem;
	margin-left: -1.5rem;
}

.blurb-side:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.blurb-side > * {
	margin-top: 0;
	margin-bottom: 0.4375rem;
	margin-left: 1.5rem;
}

.blurb-side .blurb-icon {
	font-size: 2.57813rem;
	color: inherit;
}

.blurb-side * + .blurb-title {
	margin-top: 2px;
}

@media (min-width: 768px) {
	.blurb-side {
		display: flex;
		text-align: left;
	}
}

@media (min-width: 992px) {
	.blurb-side .blurb-icon {
		font-size: 3.28125rem;
	}
}

@media (min-width: 1600px) {
	.blurb-side .blurb-icon {
		font-size: 4.6875rem;
	}
}
