.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	flex: 1 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
	z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
	z-index: 1;
}

.btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.btn-toolbar .input-group {
	width: auto;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
	margin-left: -2px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
	padding-right: 1.40625rem;
	padding-left: 1.40625rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
	margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
	margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
	padding-right: 1.875rem;
	padding-left: 1.875rem;
}

.btn-group-vertical {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
	width: 100%;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
	margin-top: -2px;
}

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
	margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.btn {
	position: relative;
	z-index: 0;
	display: inline-block;
	text-align: center;
	border: 2px solid transparent;
	font-weight: 700;
	text-transform: capitalize;
	color: #fff;
	background: #eac52e;
	transition: all 0.2s ease-in-out;
	padding: 0.8125rem 1.875rem;
	font-size: 0.875rem;
	line-height: 1.47;
	border-radius: 1.875rem;
}

.btn:hover, .btn.hover, .btn:active, .btn.active {
	text-decoration: none;
	color: #fff;
	background: #03a098;
}

.btn:focus, .btn.focus {
	outline: 0;
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
	pointer-events: none;
}

* + .btn {
	margin-top: 1.375rem;
}

.btn-outline {
	color: #42495b;
	background: transparent;
	border-color: #42495b;
}

.btn-outline:hover {
	color: #fff;
	background-color: #42495b;
}

.btn-shadow {
	box-shadow: 5px 6px 18px rgba(23, 23, 36, 0.12);
}

.btn-shadow:hover {
	box-shadow: none;
}

.btn-block {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-icon {
	font-size: 1.3em;
	margin: 0 0.625rem;
}

.btn-icon:first-child {
	margin-left: 0;
}

.btn-icon:last-child {
	margin-right: 0;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 1rem 2.5rem;
	font-size: 0.75rem;
	line-height: 1.47;
	border-radius: 1.875rem;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 0.375rem 1rem;
	font-size: 0.75rem;
	line-height: 1.47;
	border-radius: 1.875rem;
}

.btn-group-1 {
	margin-bottom: -0.9375rem;
	margin-left: -1.875rem;
}

.btn-group-1:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.btn-group-1 > * {
	margin-top: 0;
	margin-bottom: 0.9375rem;
	margin-left: 1.875rem;
}

* + .btn-group-1 {
	margin-top: 1.5625rem;
}

.context-dark .btn-outline {
	color: #fff;
	background: transparent;
	border-color: #fff;
}

.context-dark .btn-outline:hover {
	color: #eac52e;
	background-color: #fff;
}

.bg-primary .btn-primary {
	color: #42495b;
	background-color: #fff;
	border-color: #fff;
}

.bg-primary .btn-primary:hover, .bg-primary .btn-primary.hover, .bg-primary .btn-primary:active, .bg-primary .btn-primary.active {
	color: #fff;
	background-color: #42495b;
	border-color: #42495b;
}

.big + .btn {
	margin-top: 1.1rem;
}

@media (min-width: 992px) {
	.big + .btn {
		margin-top: 1.4rem;
	}
}

@media (min-width: 1600px) {
	.btn {
		min-width: 170px;
	}
	.big + .btn {
		margin-top: 2rem;
	}
}
