.widget-title {
	color: #eac52e;
}

.widget-list {
	font-weight: 500;
}

* + .widget-body {
	margin-top: 0.6875rem;
}

* + .widget-list-item {
	margin-top: 0.30938rem;
}

.widget + .widget {
	margin-top: 1.375rem;
}

@media (min-width: 992px) {
	* + .widget-body {
		margin-top: 0.875rem;
	}
	* + .widget-list-item {
		margin-top: 0.39375rem;
	}
	.widget + .widget {
		margin-top: 1.75rem;
	}
}

@media (min-width: 1600px) {
	* + .widget-body {
		margin-top: 1.25rem;
	}
	* + .widget-list-item {
		margin-top: 0.5625rem;
	}
	.widget + .widget {
		margin-top: 2.5rem;
	}
}

.widget-form {
	padding: 1.5125rem 1.20313rem 2.0625rem;
	text-align: center;
	border-radius: 0.625rem;
}

.widget-form .form-control {
	height: auto;
	padding: 0 0 0.4375rem;
	font-size: 0.75rem;
	line-height: 1.65;
	border: 0;
	border-bottom: 2px solid;
	border-radius: 0;
}

.widget-form .form-control:focus {
	background-color: transparent;
	outline: none;
	box-shadow: none;
}

.widget-form .form-validation {
	top: 100%;
	right: 0;
	color: #fff;
}

.widget-form * + .widget-form-subtitle {
	margin-top: 0.525rem;
}

.widget-form * + .form-group {
	margin-top: 0.91875rem;
}

.widget-form .form-group + .form-group {
	margin-top: 1.75rem;
}

.widget-form * + .btn {
	margin-top: 1.44375rem;
}

@media (min-width: 992px) {
	.widget-form {
		padding: 1.925rem 1.53125rem 2.625rem;
	}
	.widget-form * + .widget-form-subtitle {
		margin-top: 0.525rem;
	}
	.widget-form * + .form-group {
		margin-top: 0.91875rem;
	}
	.widget-form .form-group + .form-group {
		margin-top: 1.75rem;
	}
	.widget-form * + .btn {
		margin-top: 1.44375rem;
	}
}

@media (min-width: 1600px) {
	.widget-form {
		padding: 2.75rem 2.1875rem 3.75rem;
	}
	.widget-form * + .widget-form-subtitle {
		margin-top: 0.75rem;
	}
	.widget-form * + .form-group {
		margin-top: 1.3125rem;
	}
	.widget-form .form-group + .form-group {
		margin-top: 2.5rem;
	}
	.widget-form * + .btn {
		margin-top: 2.0625rem;
	}
}
