.list.list-sm .list-item + .list-item {
	margin-top: 0.5625rem;
}

.list-marked > .list-item {
	padding-left: 1.25rem;
}

.list-marked > .list-item::before {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: .38em;
	height: .38em;
	margin-left: -1.25rem;
	margin-top: -1px;
	margin-right: 0.875rem;
	border-radius: 50%;
	background: linear-gradient(180deg, #eac52e, rgba(4, 210, 200, 0));
}

.list-marked .list-item + .list-item {
	margin-top: 0.8125rem;
}

.list-marked .list-marked {
	margin-left: 3em;
}

.list-ordered {
	counter-reset: li;
}

.list-ordered > .list-item {
	padding-left: 1.25rem;
}

.list-ordered > .list-item::before {
	content: counters(li, ".") ".";
	counter-increment: li;
	display: inline-block;
	min-width: 1.25rem;
	margin-left: -1.25rem;
	padding-right: 0.3125rem;
	color: #555555;
}

.list-ordered .list-item + .list-item {
	margin-top: 0.8125rem;
}

.list-ordered .list-ordered {
	margin-left: 2.3em;
}

.list-icons .list-item {
	display: flex;
}

.list-icons .list-icon {
	margin-right: 0.4375rem;
	font-size: 1.125rem;
	line-height: 1.3;
	color: #ff9900;
}

.list-icons .list-item + .list-item {
	margin-top: 0.51563rem;
}

* + .list {
	margin-top: 0.55rem;
}

@media (min-width: 992px) {
	* + .list {
		margin-top: 0.7rem;
	}
	.list-icons .list-item + .list-item {
		margin-top: 0.65625rem;
	}
}

@media (min-width: 1600px) {
	* + .list {
		margin-top: 1rem;
	}
	.list-icons .list-item + .list-item {
		margin-top: 0.9375rem;
	}
}
