<!DOCTYPE html>
<html lang="en">
<!-- Copied from https://sekolahppdb.rinookta.com/components/lightgallery/fonts/lg.svg?n1z373 by Cyotek WebCopy 1.8.0.652, 13 October 2020, 17:58:23 -->
  <head>
    <title>Home | SMKN 77 NGANJUK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="SMKN 77 NGANJUK">
    <meta property="og:description" content="SMKN 77 Nganjuk Sekolah Terakreditasi A Yang Berkualitas Siap Berdaya Saing Global">
    <meta property="og:image" content="https://sekolahppdb.rinookta.com/file/logo/1600945611_d12c940714276ad549f2.png">
    <script type="text/javascript">
      var baseurl= "https://sekolahppdb.rinookta.com";
    </script>
    <link rel="icon" href="../../../file/logo/1600646551_b38e1cf007f862f6ae9a.png" type="image/x-icon">
    <link rel="stylesheet" href="../../base/base.css">
    <script src="../../base/core.min.js"></script>
    <script src="../../base/script.js"></script>
    <script src="../../../assets/js/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="../../paging/css/style.css"> <!-- Resource style -->
    <link href="../../../assets/libs/bootstrap-sweetalert/sweetalert.min.css" rel="stylesheet">
    <script src="../../../assets/libs/bootstrap-sweetalert/sweetalert.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../../release/featherlight.min.css">
    <script src="../../release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
      .lightbox { display: none; }
    </style>
  </head>
  <body>
    <div class="page">
      <!--RD Navbar-->
      <header class="section rd-navbar-wrap" data-preset='{"title":"Navbar Default","category":"header","reload":true,"id":"navbar-default"}'>
        <nav class="rd-navbar" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"50px"}}}'>
          <div class="navbar-container">
            <div class="navbar-cell">
              <div class="navbar-panel">
                <button class="navbar-switch novi-icon custom-font-menu" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                <div class="navbar-logo"><a class="navbar-logo-link" href="../../../index.htm">
                  <img class="navbar-logo-inverse" src="../../../file/logo/1600945611_d12c940714276ad549f2.png" alt="Teachzy" width="198" height="50"></a></div>
              </div>
            </div>
            <div class="navbar-spacer"></div>
            <div class="navbar-cell navbar-sidebar">
              <ul class="navbar-navigation rd-navbar-nav">
                
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="../../../index.htm">Home</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="../../../acara.html">Acara</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="../../../artikel.html">Artikel</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="#">Tentang Kami</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Kembali</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a target="_self" class="navbar-navigation-dropdown-link" href="../../../page/visi-misi.html">Visi Misi</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a target="_self" class="navbar-navigation-dropdown-link" href="../../../page/sambutan-kepsek.html">Sambutan Kepsek</a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="#">Galeri</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Kembali</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a target="_self" class="navbar-navigation-dropdown-link" href="../../../foto.html">Galeri Foto</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a target="_self" class="navbar-navigation-dropdown-link" href="../../../video.html">Galeri Video</a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-navigation-root-item"><a target="_self" class="navbar-navigation-root-link" href="../../../kontak.html">Kontak</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="../../../smb/login.html">PPDB</a>
                    </li>              </ul>
            </div>
            <div class="navbar-spacer"></div>
            <div class="navbar-cell">
              <div class="navbar-subpanel">
                <div class="navbar-subpanel-item">
                  <div class="navbar-search">
                    <div class="navbar-search-container">
                      <form class="navbar-search-form" action="https://sekolahppdb.rinookta.com/search" method="GET">
                        <input class="navbar-search-input" type="text" placeholder="Cari Artikel.." autocomplete="off" name="q">
                        <button class="navbar-search-btn custom-font-search novi-icon"></button>
                         <button class="navbar-search-close search-switch custom-font-close novi-icon" type="button" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                      </form>
                    </div>
                  </div>
                  <button class="navbar-button search-switch custom-font-search" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      
            <section class="section-md bg-transparent text-center">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-xl-11">
              <h1 class="title-1">404</h1>
              <h3>Halaman tidak dapat ditampilkan :(</h3>
              <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="../../../index.htm">Ke Home</a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer">
        <div class="footer-top bg-300">
          <div class="container">
            <div class="row row-30">
              <div class="col-xs-6 col-md-3">
                <h5 class="footer-title">Kontak Kami</h5>
                <ul class="list list-icons">
                  <li class="list-item">
                    <div class="list-icon custom-font-pin"></div><a class="link link-inherit" href="#">Jalan Raya Baron RT 02 RW 03 Jawa Timur</a>
                  </li>
                  <li class="list-item">
                    <div class="list-icon custom-font-email"></div><a class="link link-inherit" href="mailto:rinookta1427@gmail.com">rinookta1427@gmail.com</a>
                  </li>
                  <li class="list-item">
                    <div class="list-icon custom-font-phone"></div><span><span>Telepon: </span><a class="link link-inherit" href="tel6281330707048.html">6281330707048</a></span>
                  </li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h5 class="footer-title">Sosial Media</h5>
                <ul class="list list-sm">
                  <li class="list-item"><a class="link link-inherit" href="../../../rinookta.html">Facebook</a></li>
                  <li class="list-item"><a class="link link-inherit" href="https://instagram.com/rinookta">Instagram</a></li>
                  <li class="list-item"><a class="link link-inherit" href="../../../rinookta-1.html">Twitter</a></li>
                  <li class="list-item"><a class="link link-inherit" href="https://youtube.com/rinookta">YouTube</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h5 class="footer-title">Menu Utama</h5>
                <ul class="list list-sm">
                  <li class="list-item"><a class="link link-inherit" href="../../../index.htm">Home</a></li>
                  <li class="list-item"><a class="link link-inherit" href="../../../acara.html">Acara Sekolah</a></li>
                  <li class="list-item"><a class="link link-inherit" href="../../../artikel.html">Artikel</a></li>
                  <li class="list-item"><a class="link link-inherit" href="../../../kontak.html">Kontak</a></li>
                                    <li class="list-item"><a class="link link-inherit" href="../../../smb/login.html">PPDB</a></li>
                                  </ul>
              </div>
              <div class="col-6 col-md-3">
                <h5 class="footer-title">Jurusan</h5>
                <ul class="list list-sm">
                                    <li class="list-item"><a class="link link-inherit" href="../../../page/apa-itu-jurusan-rpl-&-apa-saja-keunggulan-jurusan-rpl.html">Rekayasa Perangkat Lunak</a></li>
                                    <li class="list-item"><a class="link link-inherit" href="../../../page/mengenal-jurusan-tkj-teknik-komputer-jaringan.html">Teknik Komputer & Jaringan</a></li>
                                    <li class="list-item"><a class="link link-inherit" href="#">Teknik Sipil Bangunan</a></li>
                                    <li class="list-item"><a class="link link-inherit" href="#">Teknik Kendaran Ringan</a></li>
                                    <li class="list-item"><a class="link link-inherit" href="#">Tata Boga</a></li>
                                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom bg-700 context-dark text-center">
          <div class="container">
                  <!-- Copyright-->
                  <p class="rights"><span>&copy; Teachzy 2020&nbsp;</span><span>SMKN 77 NGANJUK</span><span> Didevelop Oleh </span><a class="link link-inherit" href="../../../index-1.htm">Rinookta.com</a></p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
  </body>
<!-- Copied from https://sekolahppdb.rinookta.com/components/lightgallery/fonts/lg.svg?n1z373 by Cyotek WebCopy 1.8.0.652, 13 October 2020, 17:58:23 -->
</html>