.footer-top {
	padding: 3.85rem 0rem;
}

.footer-bottom {
	padding: 1.5625rem 0rem;
	font-weight: 500;
}

.footer-title {
	color: #eac52e;
}

.footer-title + * {
	margin-top: 1.875rem;
}

@media (min-width: 992px) {
	.footer-top {
		padding: 4.9rem 0rem;
	}
}

@media (min-width: 1200px) {
	.footer-top {
		padding: 7rem 0rem;
	}
	.footer-bottom {
		padding: 1.875rem 0rem;
	}
	.footer .footer-title + * {
		margin-top: 1rem;
	}
}
