div.to-top {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	transform: scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	font-size: 1.5625rem;
	border-radius: 50%;
	box-shadow: 5px 6px 18px rgba(23, 23, 36, 0.12);
	opacity: 0;
	background: #eac52e;
	color: #fff;
	will-change: transform;
	z-index: 10;
	cursor: pointer;
	transition: .2s;
}

div.to-top::after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	content: '';
	background: #171724;
	border-radius: 50%;
	transform: scale(0);
	transition: all 0.2s ease-in-out;
}

div.to-top.show {
	transform: scale(1);
	opacity: 1;
	transition: all 0.2s, transform 0.2s cubic-bezier(0.5, 0, 1, 2);
}

div.to-top.active::after, div.to-top:hover::after {
	transform: scale(1);
}
