.rd-form-inline {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -0.9375rem;
	margin-left: -1.25rem;
}

.rd-form-inline:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.rd-form-inline > * {
	margin-top: 0;
	margin-bottom: 0.9375rem;
	margin-left: 1.25rem;
}

.rd-form-inline .form-group {
	flex-grow: 1;
}

.rd-form-inline .btn {
	flex-shrink: 0;
	margin-top: 0;
}

.rd-form-boxed {
	position: relative;
}

.rd-form-boxed .form-validation {
	right: auto;
	left: 1.125rem;
}

.rd-form-boxed .rd-form-boxed-btn {
	position: absolute;
	top: 50%;
	right: 0;
	margin: 0;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
	pointer-events: auto;
}

.rd-form-boxed .rd-form-boxed-btn:hover {
	color: #eac52e;
}

.rd-form-boxed-1 .form-control {
	padding-right: 2.5rem;
}

.rd-form-boxed-1 .rd-form-boxed-btn {
	right: 1.0625rem;
	font-size: 1.125rem;
	color: #eac52e;
	transition: all 0.2s ease-in-out;
	pointer-events: auto;
}

.rd-form-boxed-1 .rd-form-boxed-btn:hover {
	color: #42495b;
}

p + .rd-form {
	margin-top: 1.5625rem;
}

.row-20 + .rd-form-btn {
	margin-top: 1.5625rem;
}

@media (min-width: 992px) {
	.row-20 + .rd-form-btn {
		margin-top: 1.875rem;
	}
}

@media (min-width: 1600px) {
	.row-20 + .rd-form-btn {
		margin-top: 2.5rem;
	}
}
