.icon {
	display: inline-flex;
	line-height: 1;
}

.icon-md {
	font-size: 1rem;
}

.icon-sm {
	font-size: 1.0625rem;
}

.icon-round {
	justify-content: center;
	align-items: center;
	width: 2.56em;
	height: 2.56em;
	background-color: #fafafa;
	border-radius: 50%;
}

.icon-round.icon-sm {
	width: 1.875rem;
	height: 1.875rem;
}

.icon-link {
	transition: all 0.2s ease-in-out;
}

.icon-link.icon-round {
	color: #fff;
	background-color: #eac52e;
}

.icon-link.icon-round:hover {
	background-color: #171724;
}

.icon-link.icon-round[class*='facebook'] {
	background-color: #3e6db9;
}

.icon-link.icon-round[class*='facebook']:hover {
	background-color: #315693;
}

.icon-link.icon-round[class*='twitter'] {
	background-color: #00b5eb;
}

.icon-link.icon-round[class*='twitter']:hover {
	background-color: #008eb8;
}

.icon-link.icon-round[class*='google'] {
	background-color: #e43711;
}

.icon-link.icon-round[class*='google']:hover {
	background-color: #b52c0d;
}
